#header {
    padding-bottom: 1vw;     
    font-size: 2vh; 
}
#rubrik {
    margin-bottom:0%;
}
#logga {
    top: 1vh;
    position:absolute;
    left:1vh;
    width: 5vw;
    height: 5vw;
}
header{
    background-color: #0b3252;
    text-align: center;
    color: #fff;
    padding: 2vw;
}

header a{
    text-decoration: none;
    color:#fff;
}