#header {
    padding-bottom: 1vw;     
    font-size: 2vh; 
}
#rubrik {
    margin-bottom:0%;
}
#logga {
    top: 2vh;
    position:absolute;
    left:1vh;
    width: 4vw;
    height: 3.7vw;
}
header{
    background-color: #0b3252;
    text-align: center;
    color: #fff;
    padding: 1.5vw;
}

header a{
    text-decoration: none;
    color:#fff;
}