body{
    font-family: Verdana, sans-serif;
    overflow-x: hidden;
    margin:0%;
}
article{
    height: 25vw;
}

.slideshow-container {
    margin:0%;
    width: 100%;
}

.slideshow-container div img{
    width: 100%;
}

section{
    margin:0%;
    text-align: center;
    height:80vh;
}

section h1{
    font-size:xx-large;
}

section p{
    font-size: x-large;
}