#header {
    padding-bottom: 1%;     
    font-size: 2vw; 
}
#rubrik {
    margin-right:3%;
    margin-bottom:0%;
}
#logga {
    float:left;
    width: 3%;
}
footer {
    background-color: #0b3252;
    min-height: 100vh;
}
table {
    margin-left: 25%;
    font-size: 85%;
    width: 70%;
    text-align: left;
}
td {
    color: #D3D3D3;
}
#links {
    text-decoration: none;
    color: #D3D3D3;
}
th {
    color: #fff;
}
#icons {
    margin-left:46%;
    margin-top:2%;
}
#Facebook, #Instagram, #Hemsida {
    width:5%;
}
#copyright {
    color:#808080;
    text-align: center;
    font-size: 85%;
}
body{
    font-family: Verdana, sans-serif;
    overflow: hidden;
}
article{
    height: 25vw;
}

.slideshow-container {
    width: 100%;
}

section{
    height:70vh;
    text-align: center;
}

section h1{
    font-size:xx-large;
}

section p{
    font-size: x-large;
}