* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  body {
      margin: 0;
      overflow: visible;
      background-image: url(https://imageproxy.wolt.com/venue/5f71e1c33df30902271f730e/f94991d2-a907-11ec-8073-3a8f709e161f_d_ner_uni_pizza_close_up_1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      font-family: verdana;
  }
  article{
    position: absolute;
    transform: translate(280%, 1000%);
    border:solid 5px #000;
    display: inline-block;
  }
  
  .nav{
      float: left;
  }

  .nav a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

  .nav a:hover {
      background-color: #111;
  }
  .nav-ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }
  .nav-ul {
      position: fixed;
      top: 0;
      width: 100%;
    }
  #login-button{
    background: none;
    border: none;
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    right: 0;
  }

  /*login-box*/
  #login-box, #register-box {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px;
      padding: 40px;
      transform: translate(-50%, -50%);
      background: rgba(57, 56, 56, 0.674);
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(201, 201, 201, 0.6);
      border-radius: 10px;
      display: none;
    }
    
    #login-box h2, #register-box h2 {
      margin: 0 0 30px;
      padding: 0;
      color: #000;
      text-align: center;
    }
    
    #login-box .user-box, #register-box .user-box {
      position: relative;
    }
    
    #login-box .user-box input, #register-box .user-box input {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: transparent;
    }
    #login-box .user-box label, #register-box .user-box label {
      position: absolute;
      top:0;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      pointer-events: none;
      transition: .5s;
    }
    
    #login-box .user-box input:focus ~ label,
    #login-box .user-box input:valid ~ label,
    #register-box .user-box input:focus ~ label,
    #register-box .user-box input:valid ~ label {
      top: -20px;
      left: 0;
      color: #f00;
      font-size: 12px;
    }
    
    #login-box form a, #register-box form a,
    #login-box form a input[type=submit], #register-box form a input[type=submit] {
      position: relative;
      display: inline-block;
      cursor: pointer;
      padding: 10px 20px;
      color: #f00;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: .5s;
      margin-top: 2.5px;
      letter-spacing: 4px
    }
    
    #login-box a:hover, #register-box a:hover {
      background: #f00;
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px #f00,
                  0 0 25px #f00,
                  0 0 50px #f00,
                  0 0 100px #f00;
    }
    
    #login-box a span, #register-box a span {
      position: absolute;
      display: block;
    }
    
    #login-box a span:nth-child(1), #register-box a span:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #f00);
      animation: btn-anim1 1s linear infinite;
    }
    
    @keyframes btn-anim1 {
      0% {
        left: -100%;
      }
      50%,100% {
        left: 100%;
      }
    }
    
    #login-box a span:nth-child(2), #register-box a span:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #f00);
      animation: btn-anim2 1s linear infinite;
      animation-delay: .25s
    }
    
    @keyframes btn-anim2 {
      0% {
        top: -100%;
      }
      50%,100% {
        top: 100%;
      }
    }
    
    #login-box a span:nth-child(3), #register-box a span:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, #f00);
      animation: btn-anim3 1s linear infinite;
      animation-delay: .5s
    }
    
    @keyframes btn-anim3 {
      0% {
        right: -100%;
      }
      50%,100% {
        right: 100%;
      }
    }
    
    #login-box a span:nth-child(4), #register-box a span:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, #f00);
      animation: btn-anim4 1s linear infinite;
      animation-delay: .75s
    }
    
    @keyframes btn-anim4 {
      0% {
        bottom: -100%;
      }
      50%,100% {
        bottom: 100%;
      }
    }

    a,button{
      cursor: pointer;
    }
    
    #kebabmenu{
      top: 100px;
      right: 50px;
      width: 100vw;
    }
    .navigation{
      position: fixed;
      right: -500px;
      width: 350px;
      height: 100%;
      background-color: #000;
      transition: .5s;
      text-decoration: none;
    }
    
    .navigation ul li{
      color: #a0f;
      text-align: right;
      text-transform: uppercase;
      list-style-type: none;
      font-size: 1.5em;
      padding: 20px 30px;
      border-bottom: 1pt solid #252525;
    }
    
    .hamburger, .bar{
      position: fixed;
    }
    .hamburger{
      display: block;
      top: 4.3%;
      left: 96.5%;
      width: 30px;
      height: 30px;
      transform: translateY(-50%);
      border: 0;
      background: 0 0;
    }
    
    .bar{
      top: 3px;
      background: #fff;
      width: 100%;
      height: 4px;
      transition: all .3s ease-in;
    }
    
    #bar2{
      top: 11px;
    }
    
    #bar3{
      top: 19px;
    }
    
    .navigation.active{
      right: 0;
    }
    
    .hamburger.open #bar1{
      background-color: #fff;
      transform: rotate(45deg) translate(6px, 5px);
    }
    
    .hamburger.open #bar2{
      background-color: transparent;
    }
    
    .hamburger.open #bar3{
      background-color: #fff;
      transform: rotate(-45deg) translate(6px, -5px);
    }
    a:hover{
      text-decoration: none;
      color: #fff!important;
    }
    .dropdown {
      position: relative;
      display: block;      
    }
    .dropdown-content {
      max-height: 0px;
      overflow: hidden;
      background-color: #000;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      transition: max-height 0.8s;
    }
    .dropdown-content.show {
      max-height: 35vw;
    }
    .dropdown-content a {
      color: #a0f;
      padding: 12px 16px;
      text-decoration: none;
    }
    .dropdown-content a:hover {
      color: #fff;
    }
    a{
      text-decoration: none!important;
      color: #a0f;
    }
    #alexmästerverk{
      display: inline-block;
      padding: 0;
      width: 50px;
      height: 50px;
      transform: translateY(5%);
    }

  footer{
      margin-top: 150px;
      width:100%;
      font-family: sans serif;
      background: #777;
      color: #fff;
      display: flex;
      box-sizing: border box;
      position: sticky;
      bottom: 0;
      transform: translateY(155%);
  }
  
  footer div{
      text-align: center;
      margin: 100px;
  }

  .col-2{
      flex-grow: 2;
  }
  
  footer div h3{
      font-weight: 300;
      margin-bottom: 30px;
      letter-spacing: 1px;
  }

  .col p{
      display: block;
      text-decoration: none;
      color:#fff;
      margin-bottom: 10px;
  }

  /* .fa-brands {
    transform: translate(-2000%,75%);
    background-color: black;
    font-size: 25px;
  } */
  
  .fa-brands fa-facebook{
      position: static;
  }