footer {
    background-color: #1e3f5a;
}
table {
    margin-left: 20%;
    font-size: 100%;
    width: 70%;
    text-align: left;
}
td {
    color: #D3D3D3;
}
th {
    color: #fff;
}
#icons {
    margin-left:46%;
    margin-top:2%;
}
#Facebook, #Instagram, #Hemsida {
    width:50px;
}
#copyright {
    color:#808080;
    padding-bottom:1%;
    text-align: center;
    padding-bottom: 2.5%;
}
.login-body{
    text-align: center;
    margin:0%;
}

.login{
    border:2px solid #000;
    padding:0.2%;
}